    <h1>Add new course</h1>
    <form action="/add" method="post">
        <div class="input-field">
            <input id="title" name="title" type="text" class="validate" required>
            <label for="title">Course name</label>
            <span class="helper-text" data-error="Input name"></span>
        </div>
        <div class="input-field">
            <input id="price" name="price" type="text" class="validate" required>
            <label for="price">Price</label>
            <span class="helper-text" data-error="Input price"></span>
        </div>
        <div class="input-field">
            <input id="image" name="url" type="text" class="validate" required>
            <label for="image">URL of image</label>
            <span class="helper-text" data-error="Input url of image"></span>
        </div>
        <button type="submit" class="btn btn-primary">Add course</button>
    </form>
